/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Borel&family=Lato:wght@300&family=Oswald:wght@200;300;400;500&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General style*/
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #3b004d;
    background-color: rgb(249, 230, 255);
    font-family: 'Lato', sans-serif;
    
}


/* Header */
header {
    background-color:rgb(249, 230, 255);
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3b004d;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
header a {

    color: inherit;
    text-decoration: none;
}

h1 {
    font-family: 'borel', sans-serif;
    letter-spacing: 2px;	
    color: #3b004d;
    font-size: 30px;

}
span {
    color: #cc99ff;
}
#menu {
    font-size:110%;
    letter-spacing:4px;
    list-style-type:none;
}
#menu > li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid #3b004d;
}

nav {
    position: absolute;
    background-color: rgb(249, 230, 255);
    width: 100%;
    left: 0;
    padding:0 1rem;
    box-shadow: 0 2px 2px #3b004d;
    display: none;
    top: 100%;
}
/* nav toggle*/
#nav-toggle:checked~nav {

    display: block;
}
#nav-toggle {
    display: none;
}
.nav-toggle-lable {
    font-size: 2rem;
}
/*Maiin content*/
main {

    /* Make main element take up any surplus space to push footer down */
    flex: 1 0 auto;
    margin-top: 47px;
    background-image: url('/istockphoto-1215789324-612x612.jpg');
}


/* Footer */
#socil-media {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

#socil-media i {
    font-size: 150%;
    padding: 6%;
    color: #cc99ff;
}





/*media query for tablet and larger*/
@media screen  and (min-width: 768px) {

    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }
    
    #menu {
        display: flex;
    }

    #menu > li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 280%;
        line-height: 75px;
        margin: 0 0.5rem;
    }
    main {
        /* Push main content down to accommodate larger header */
        margin-top: 79px;
    }


}
@media screen and (min-width: 992px) {
    #menu a:hover{
        border-bottom: 1px solid #3a3a3a;
    }
}
